body {
    padding: 0%;
    margin: 0%;
}

.background_image {
    background-image: url("../images/trivia_background.jpg");
    background-size: 100% 100%;
    height: 750px;
}

.content {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr 1fr;
}

.trivia_row_one, .trivia_row_two {
    padding: 2% 15%;
}

.trivia_row_one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.trivia_row_two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.trivia_boxes {
    height: 150px;
    width: auto;
    font-size: 4rem;
    color: white;
}

.trivia_col_top {
    display: grid;
    justify-content: center;
    margin: 0%;
}

.trivia_col_bot {
    display: grid;
    justify-content: center;
    margin: 0%;
}

.button_area {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
}


#red {
    display: grid;
    justify-content: right;
}

#blue {
    display: grid;
    justify-content: center;
}

#yellow {
    display: grid;
    justify-content: left;
}

.choice_buttons {
    width: 60%;
}